{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}

<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}'
         style="background-image: url(/static/images/bg/01.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>FAQ</h1>
                    <p>{% trans "Answers to frequently asked questions" %}</p>
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/{{ LANGUAGE_CODE }}/" title="Homepage"><i class="fa fa-home"></i> {% trans "Home" %}</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>FAQ</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
page-title -->

<!--=================================
 faq-->

<section class="faq white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title text-center">
                    <h6>{% trans "Have a question" %}?</h6>
                    <h2 class="title-effect">{% trans "Frequently Asked Questions" %}</h2>
                    <p>{% trans "Most frequently asked questions regarding cooperation" %}.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="accordion shadow">
                    {% for i in questions %}
                    <div class="acd-group {% if i == questions|first %}acd-active{% endif %}">
                        <a href="#" class="acd-heading" title="Project">{{ i.title_short }}</a>
                        <div class="acd-des">
                            <h5>{{ i.title_long }}</h5>
                            {{ i.text|safe }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center mt-40">
                <h6>
{% trans "If you do not find the answer to your question listed within our FAQ's, you can always contact us directly at" %}
                    <a class="theme-color" href="mailto:contact@webmaerd.com"> contact@webmaerd.com</a></h6>
            </div>
        </div>
    </div>
</section>

<!--=================================
 careers-->


<!--=================================
action box- -->

<section class="action-box theme-bg full-width">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="action-box-text">
                    <h3><strong> Webmaerd: </strong> {% trans "Modern Web Development and Web Design" %}</h3>
                    <p>
{% trans "You can order website creation, web design, purchase and domain settings, help in placing the site on the hosting, assistance in setting up mail for your domain" %}.
                    </p>
                </div>
                <div class="action-box-button">
                    <a class="button button-border white" href="/{{ LANGUAGE_CODE }}/contact">
                        <span>{% trans "Contact US" %}</span>
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
action box- -->

{% endblock %}