{% extends 'base/base.html' %}
{% load i18n %}
{% block content %}

<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}'
         style="background-image: url(/static/images/bg/01.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>{% trans "Contact" %}</h1>
                    <p>{% trans "We know the secret of your success" %}</p>
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> {% trans "Home" %}</a> <i
                            class="fa fa-angle-double-right"></i></li>
                    <li><span>{% trans "Contact" %}</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
page-title -->


<!--=================================
 contact-->

<section class="page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="office-1 black-bg parallax full-width mb-5 sm-mb-20 bg-overlay-black-60 parallax"
                     style="background: url(/static/images/bg/02.jpg);">
                    <div class="touch-in">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="media h-100 p-4">
                                    <div class="feature-icon media-icon mr-4">
                                        <span class="ti-map-alt theme-color"></span>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="text-white">{% trans "ADDRESS" %}</h5>
                                        <p class="mb-0 text-white">
                                            {% trans "Nowoursynowska street 161, 00-001, Warsaw, Poland" %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="media h-100 p-4">
                                    <div class="feature-icon media-icon mr-4">
                                        <span class="ti-skype  theme-color"></span>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="text-white">SKYPE</h5>
                                        <p class="mb-0 text-white">+(704) 279-1249</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="media h-100 p-4">
                                    <div class="feature-icon media-icon mr-4">
                                        <span class="ti-email theme-color"></span>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="text-white">EMAIL</h5>
                                        <p class="mb-0 text-white">contact@webmaerd.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-30">
            <div class="col-md-10">
                <div class="section-title text-center">
                    <h6>{% trans "let's work together" %}</h6>
                    <h2 class="title-effect">{% trans "Contact Us" %}</h2>
                    <p class="mb-50">
{% trans "It would be great to hear from you! If you got any questions, please do not hesitate to send us a message. We are looking forward to hearing from you! We reply within" %}
                        <span class="tooltip-content theme-color" data-original-title="Mon-Fri 10am–7pm (GMT +1)"
                              data-toggle="tooltip" data-placement="top"> {% trans "24 hours!" %}</span></p>
                </div>
            </div>
            <div class="col-lg-12">
                <div id="formmessage">{% trans "Success/Error Message Goes Here" %}</div>
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="contact-form clearfix">
                        <div class="section-field">
                            <input id="name" type="text" placeholder="{% trans 'Name' %}*" class="form-control"
                                   name="name">
                        </div>
                        <div class="section-field">
                            <input type="email" placeholder="{% trans 'Email' %}*" class="form-control" name="email">
                        </div>
                        <div class="section-field">
                            <input type="text" placeholder="{% trans 'Phone' %}*" class="form-control" name="phone">
                        </div>
                        <div class="subject-area">
                            <input type="text" placeholder="{% trans 'Subject' %}*" class="form-control" name="subject">
                        </div>
                        <div class="section-field textarea">
                            <textarea class="input-message form-control" placeholder="{% trans 'Your message' %}*"
                            rows="7" name="message"></textarea>
                        </div>
                        <!-- Google reCaptch-->
                        <!-- <div class="g-recaptcha section-field clearfix" data-sitekey="[Add your site key]"></div> -->
                        <div class="submit-button text-center">
                            <input type="hidden" name="action" value="sendEmail">
                            <button id="submit" name="submit" type="submit" value="Send" class="button"><span> {% trans "Send message" %} </span>
                                <i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>
                <div id="ajaxloader" style="display:none"><img class="mx-auto mt-30 mb-30 d-block"
                                                               src="/static/images/pre-loader/loader-01.svg" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-60">
            <div class="col-lg-12">
                <div style="width: 100%; height: 300px;" id="map-02" class="g-map" data-type='green'></div>
            </div>
        </div>
    </div>
</section>

<!--=================================
 contact -->

<!--=================================
action box- -->

<section class="action-box theme-bg full-width">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="action-box-text">
                    <h3><strong> Webmaerd: </strong> {% trans "Modern Web Development and Web Design" %}</h3>
                    <p>
{% trans "You can order website creation, web design, purchase and domain settings, help in placing the site on the hosting, assistance in setting up mail for your domain." %}
                    </p>
                </div>
                <div class="action-box-button">
                    <a class="button button-border white" href="/contact">
                        <span>{% trans "Contact US" %}</span>
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
action box- -->
{% endblock %}