{% extends 'base/base.html' %}
{% block content %}

<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}'
         style="background-image: url(/static/images/bg/01.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>FAQ</h1>
                    <p>Answers to frequently asked questions</p>
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>FAQ</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
page-title -->

<!--=================================
 faq-->

<section class="faq white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title text-center">
                    <h6>Have a question?</h6>
                    <h2 class="title-effect">Frequently Asked Questions</h2>
                    <p>Answers to frequently asked questions about cooperation with us.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="accordion shadow">
                    <div class="acd-group acd-active">
                        <a href="#" class="acd-heading">01. What is the cost of the services?</a>
                        <div class="acd-des">
                            <h5>What is the cost of the services? How much does it cost to create a website?</h5>
                            <p>The price depends on many factors, so the cost of services is assessed individually for
                                each project. For example the cost of the project is calculated from its:
                            </p>
                            <ul class="list list-unstyled list-mark">
                                <li> Complexity</li>
                                <li> Functionality</li>
                                <li> Lead time</li>
                                <li> additional customer requests</li>
                            </ul>
                            <p>
                            For example, the cost of sites in our portfolio starts from $ 500
                            </p>
                        </div>
                    </div>
                    <div class="acd-group">
                        <a href="#" class="acd-heading">02. How to estimate the approximate cost of an order?</a>
                        <div class="acd-des"><h5>How to estimate the approximate cost of an order?</h5>
                            <p>In the near future we will create a questionnaire filling out which you will be able to
                                estimate the approximate cost of your project.</p>
                        </div>
                    </div>
                    <div class="acd-group">
                        <a href="#" class="acd-heading">03. How long does it take to create a website?</a>
                        <div class="acd-des"><h5>How long will it take for you to complete the order for the creation of
                            the site?</h5>
                            <p>The lead time depends on the complexity of the project. A simple site-visit, we do about
                                one week. The implementation of sites of medium complexity - one or two weeks.
                                Implementation of complex projects can take up to one to two months.</p>
                        </div>
                    </div>
                    <div class="acd-group">
                        <a href="#" class="acd-heading">04. How is the service paid?</a>
                        <div class="acd-des"><h5>Amet of lorem ipsum dolor sit lorem ipsum?</h5>
                            <p>First, we negotiate your project with you, agree on the price. Further we conclude with
                                you the contract on rendering of services. You make a prepayment of 10% of the order
                                value. We make a website. When the site is made and you approve it you pay us the
                                remaining amount, and we give you access to the site, and also send the code and files
                                of the site.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center mt-40">
                <h6> If you do not find the answer to your question listed within our FAQ's, you can always contact us
                    directly at <a class="theme-color" href="#"> contact@webmaerd.com</a></h6>
            </div>
        </div>
    </div>
</section>

<!--=================================
 careers-->


<!--=================================
action box- -->

<section class="action-box theme-bg full-width">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="action-box-text">
                    <h3><strong> Webmaerd: </strong> Modern web development and web design</h3>
                    <p>You can order website creation, web design, purchase and domain settings, help in placing the
                        site on the hosting, assistance in setting up mail for your domain.</p>
                </div>
                <div class="action-box-button">
                    <a class="button button-border white" href="/contact">
                        <span>Contact US</span>
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
action box- -->

{% endblock %}