{% extends 'base/base.html' %}
{% block content %}

<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}'
         style="background-image: url(/static/images/bg/02.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>portfolio classic 2 columns fullwidth</h1>
                    <p>We know the secret of your success</p>
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><a href="#">portfolio</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>portfolio classic 2 columns fullwidth</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
page-title -->

<!--=================================
 portfolio -->

<section class="white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div class="isotope-filters">
                    <button data-filter="" class="active">All</button>
                    <button data-filter=".photography">photography</button>
                    <button data-filter=".illustration">illustration</button>
                    <button data-filter=".branding">branding</button>
                    <button data-filter=".web-design">web-design</button>
                </div>
                <div class="isotope columns-2 popup-gallery">
                    <div class="grid-item photography branding">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/01.jpg" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/01.jpg"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item photography branding">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/02.jpg" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/02.jpg"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item illustration">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/03.jpg" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/03.jpg"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item illustration">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/04.gif" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/04.gif"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item branding illustration">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/05.jpg" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/05.jpg"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item branding illustration">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/06.jpg" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/06.jpg"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item web-design photography">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/07.jpg" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/07.jpg"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item web-design photography">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/08.gif" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/08.gif"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item web-design photography">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/01.jpg" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/01.jpg"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item web-design photography">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/02.jpg" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/02.jpg"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item web-design photography">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/03.jpg" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/03.jpg"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="grid-item web-design photography">
                        <div class="portfolio-item">
                            <img src="/static/images/portfolio/small/05.jpg" alt="">
                            <div class="portfolio-overlay">
                                <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                <span class="text-white"> <a href="#"> Branding </a> | <a
                                        href="#"> Web Design </a> </span>
                            </div>
                            <a class="popup portfolio-img" href="/static/imagesportfolio/small/05.jpg"><i
                                    class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
portfolio -->


<!--=================================
action box- -->

<section class="action-box theme-bg full-width">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="action-box-text">
                    <h3><strong> Webster: </strong> The most powerful template ever on the market</h3>
                    <p>Create tailor-cut websites with the exclusive multi-purpose responsive template along with
                        powerful features.</p>
                </div>
                <div class="action-box-button">
                    <a class="button button-border white" href="#">
                        <span>Purchase Now</span>
                        <i class="fa fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}