<footer class="footer page-section-pt black-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 sm-mb-10">
                <h6 class="text-white mb-10 mt-10 text-uppercase">Navigation:</h6>
                <div class="footer-social">
                    <ul>
                        <li class="list-inline-item"><a href="/">Home</a>&nbsp;&nbsp;&nbsp;|</li>
                        <li class="list-inline-item"><a href="/portfolio">Portfolio</a>&nbsp;&nbsp;&nbsp;|</li>
                        <li class="list-inline-item"><a href="/contact">Contact Us</a>&nbsp;&nbsp;&nbsp;|</li>
                        <li class="list-inline-item"><a href="/faq">FAQ</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-4 col-sm-4 xs-mb-10">
                <h6 class="text-white mb-10 mt-10 text-uppercase">Contact Us:</h6>
                <ul class="addresss-info">
                    <li><i class="fa fa-envelope-o"></i>Email: contact@webmaerd.com</li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-4 xs-mb-10 text-left text-md-right">
                <div class="social-icons color-hover mt-10">
                    <ul>
                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-widget mt-20">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span>
                        <a href="/"> Webmaerd </a> All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>